@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

td.mat-cell,
th.mat-header-cell {
  text-align: center;
  justify-content: center;
}
